@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
header{
    background-image: url('../images/patrick-hendry-9IJqtCeWim8-unsplash.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}
.nav-name:hover{
    border-bottom: 2px solid white;
}
.h-details{
    text-align: center;
    position: relative;
    top: 200px;
}
.h-texts{
    color: whitesmoke;
    margin-bottom: 30px;
}
.h-btn{
    color: black;
    font-size: larger;
    padding: 20px;
    width: 180px;
    border: none;
    border-radius: 50px;
    transition-duration: 0.5s;
}
.h-btn-2{
    background-color: rgba(0, 0, 255, 0.822);
    color: white;
    margin-left: 10px;
}
.h-btn:hover{
    opacity: 0.8;
}
.all-card{
     box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}
.services-btn{
    border: 1px solid #0066FF;
    background: none;
    padding: 5px 20px;
    color: #0066FF;
}
.services-btn:hover{
    background-color: #0066FF;
    color: white;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  

input[type=submit] {
    background:none;
    color: #0066FF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #0066FF;
  }
  

input[type=submit]:hover {
    background-color: #0066FF;
    color: white;
  }
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
@media only screen and (min-width:769px) {
    .nav-item{
       display: flex;
       flex-direction: row-reverse;
    }
    .nav-name{
        margin-left: 40px;
    }
    .nav-link a:hover{
        border-bottom: 2px solid white;
    }
  }
@media only screen and (max-width:1024px) and (min-width:769px) {
   header{
       height: 70vh;
   }
   .address-custom{
       display: none;
   }
}
@media only screen and (max-width:768px) and (min-width:481px){
   header{
       height: 100vh;
   }
  }
@media only screen and (max-width:480px) and (min-width:320px) {
   header{
       height: 100vh;
   }
   .h-details{
        top: 80px;
   }
   .h-texts{
       margin: 0px;
   }
   .h-btn{
      margin: 5px;
      color: black;
      padding: 10px;
      border: none;
      border-radius: 50px;
   }
   .form-custom{
       margin-bottom: 10px;
   }
   footer img{
       width: 40px;
   }
  }